.App {
  text-align: center;
  background-color: #DDE5B6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  background-color: #DDE5B6;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #6C584C;
  text-align: left;
  padding: 5px 25px;
  font-family: 'Verdana', 'sans-serif';
  white-space: pre-line;
  font-weight: 500;
}

.content img {
  width: 75%;
  padding: 0px;
  border-radius: 25px;
  align-items: center;
}

/* for external links */
.content a {
  color: #6C584C;
  text-decoration: none;
}

.content button {
  color: #6C584C;
  width: 150px;
  height: 40px;
  font-size: 20px;
  background-color: #D0A583;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 2px 50px 0px #ADC178;
}

.content button:hover {
  opacity: 0.8;
  background-color: #A98467;
}

.content h3 {
  font-weight: 600;
}

.carousel {
  width: 90%;
  left: 5%;
}

.carousel img {
  display: flex;
  width: 100%;
  border-radius: 25px;
  padding: 20px 0px;
}

/* reps the slide index of the image carousel */
.carousel button {
  background-color: #ADC178;
  height: 5px;
  width: 100px;
  padding: 0px 10px;
  gap: 20px;
  border-radius: 0px;
}

.carousel button:hover {
  background-color: #6C584C;
}

/* left-side bar to animate
.left-animation {
    z-index: -1;
    opacity: 1;
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("left-green-edge.png");
    background-size: cover;
    background-position: center;
*/

.skill-list {
  display: flex;
  gap: 20px;
  padding: 0px 20px;
}

.skill-list skill {
  border: none;
  background-color: #ADC178;
  border-radius: 25px;
  color: #6C584C; 
  padding: 2px 20px;
  text-align: center;
  font-size: 18px;
}

/* initial title area of page */
.title-box {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 5px;
}

.title-box title {
  font-size: 80px;
  color: #6C584C;
  display: block;
  width: 60%;
}

/* profile picture */
.title-box img {
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  width: 50vmin;
  height: 50vmin;
  background: #6C584C;
  background-image: linear-gradient(45deg, #ADC178 0%, #6C584C 100%);
  box-shadow: -10vmin 10vmin 0 rgba(255,255,255,0.07);
	animation: morph 10s linear infinite alternate;
  margin-left: auto; 
  margin-right: 150px;
  object-fit: cover;
  object-position: -50% 20%;
}

/* animation for the profile picture */
@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}
/*
.project img {
  width: 100%;
  height: 350px;
  padding: 0px 0px;
  border-radius: 25px;
  box-shadow: 0px 4px 50px 0px #ADC178;
}

.project {
  background-color: #DDE5B6;
  position: relative;
  text-align: center;
}

.project title {
  position: absolute;
  bottom: 8px;
  left: 5px;
  color: #6C584C;
  display: block;
  font-size: calc(25px + 2vmin);
  font-weight: bold;
  font-family: 'Helvetica', 'sans-serif';
}
*/

/* outer container for project grid */
.project-list {
  display: grid;
  width: 100%;
  grid-template-columns: 49% 49%;
  column-gap: 25px;
  row-gap: 25px;
  align-items: center;
  justify-content: center;
}

.project {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 25px;
  box-shadow: 0px 4px 25px 0px #ADC178;
}

.project img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
  background-color: #0000;
}

.project caption {
  width: 100%;
  color: #6C584C;
  background-color: #0000;
  padding: 10px 15px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.project-title {
  width: 100%;
  color: #6C584C;
  padding: 10px 0px;
  font-size: 25px;
  font-weight: 600;
}

.navbar {
  position: fixed;
  background-color: #ADC178;
  top: 2%;
  left: 4%;
  width: 90%;
  height: 55px;
  border-radius: 25px;
  padding: 0% 0%;
  display: flex;
  align-items: right;
  justify-content: center;
  z-index: 3;
}

/* left-hand title -- NOT currently used, decided i didn't want a title
.navbar title {
  float: left;
  display: block;
  color: #6C584C;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: calc(15px + 2vmin);
  font-weight: bold;
  height: 65px;
  font-family: 'Helvetica', 'sans-serif';
}
*/

/* Links inside the navbar */
.navbar a {
  color: #6C584C;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #DDE5B6;
  color: #6C584C;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
