.App {
  text-align: center;
  background-color: #DDE5B6;
}

.proj-title{
  font-size: calc(40px + 2vmin);
  font-weight: 800;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*
Adding fonts
*/
@font-face {
  font-family: 'Plain';
  src: url('./fonts/Plain-Regular.woff2') format('woff2'),
      url('./fonts/Plain-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plain';
  src: url('./fonts/Plain-Light.woff2') format('woff2'),
      url('./fonts/Plain-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Plain';
  src: url('./fonts/Plain-Bold.woff2') format('woff2'),
      url('./fonts/Plain-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  background-color: #DDE5B6;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #6C584C;
  text-align: left;
  padding: 0px 50px;
  font-family: 'Plain'; /*'Verdana', 'sans-serif';*/
  white-space: pre-line;
  font-weight: 500;
}

.content img {
  width: 75%;
  padding: 0px;
  border-radius: 25px;
  align-items: center;
}

/* for external links */
.content a {
  color: #6C584C;
  text-decoration: none;
}

/* INSERTED CSS 
<button class="button-28" role="button">Button 28</button>
SOURCE: https://getcssscan.com/css-buttons-examples
*/
.content button {
  appearance: none;
  background-color: #BDD187; /*#ADC178;/*#bac198;/*transparent;*/
  border: 2px solid #6C584C;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  /*min-height: 50px;*/
  min-width: 0;
  outline: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.content .back-button{
  min-width: 75px;
  font-size: 12px;
  padding: 0px 0px 0px 0px;
  height: 40px;
}

.content .title-back-button{
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.content button:disabled {
  pointer-events: none;
}

.content button:hover {
  color: #fff;
  background-color: #BDD187;
  /*box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;*/
  transform: translateY(-2px);
}

.content button:active {
  box-shadow: none;
  transform: translateY(0);
}

.content h3 {
  font-weight: 500;
}

.carousel {
  width: 90%;
  left: 5%;
}

.carousel img {
  display: flex;
  width: 100%;
  border-radius: 25px;
  padding: 20px 0px;
}

.carousel-indicators button {
  background-color: #BDD187;
  width: 100px;
  height: 5px;
  line-height: 12px;
  border-radius: 0px;
  border: 0px;
}

/* Active indicator styles */
.carousel-indicators .active {
  border: 2px solid #6C584C;
}

/* Hover effect */
.carousel-indicators li:hover {
  background-color: #ADC178; /* Change color on hover */
}

.skill-list {
  display: flex;
  gap: 20px;
  padding: 0px 20px;
  text-align: center;
}

.skill-list skill {
  /*border: 2px solid #6C584C;*/
  /* background-color: #BDD187; */
  background-color: #6C584C;
  border-radius: 25px;
  /* color: #6C584C;  */
  color: #DDE5B6;
  padding: 2px 20px;
  text-align: center;
  font-size: 18px;
  height: 35px;
}

/* initial title area of page */
.title-box {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 5px;
}

.title-box title {
  font-size: 80px;
  color: #6C584C;
  display: block;
  width: 60%;
  font-weight: 500;
  padding: 0px 0px;
}

/* profile picture */
.title-box img {
  border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  width: 50vmin;
  height: 50vmin;
  background: #6C584C;
  background-image: linear-gradient(45deg, #ADC178 0%, #6C584C 100%);
  box-shadow: -10vmin 10vmin 0 rgba(255,255,255,0.07);
	animation: morph 10s linear infinite alternate;
  margin-left: 50px; /*auto; */
  margin-right: 100px;
  object-fit: cover;
  object-position: -50% 20%;
  border: 2px solid #6C584C;
}

/* animation for the profile picture */
@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}
/*
.project img {
  width: 100%;
  height: 350px;
  padding: 0px 0px;
  border-radius: 25px;
  box-shadow: 0px 4px 50px 0px #ADC178;
}

.project {
  background-color: #DDE5B6;
  position: relative;
  text-align: center;
}

.project title {
  position: absolute;
  bottom: 8px;
  left: 5px;
  color: #6C584C;
  display: block;
  font-size: calc(25px + 2vmin);
  font-weight: bold;
  font-family: 'Helvetica', 'sans-serif';
}
*/

/* outer container for project grid */
.project-list {
  display: grid;
  width: 100%;
  grid-template-columns: 49% 49%;
  column-gap: 25px;
  row-gap: 25px;
  align-items: center;
  justify-content: center;
  padding: 5px 25px;
}

.project {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 25px;
  border: 2px solid #6C584C;
  box-shadow: 0px 2px 5px 0px #ADC178;
  will-change: transform;
}

.project:hover {
  transform: translateY(-2px);
}

.project img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
  background-color: #0000;
}

.project caption {
  width: 100%;
  color: #6C584C;
  background-color: #0000;
  padding: 10px 15px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.project-title {
  width: 100%;
  color: #6C584C;
  padding: 10px 0px;
  font-size: 25px;
  font-weight: bold;
}

.navbar {
  position: fixed;
  background-color: #BDD187;
  top: 2%;
  left: 4%;
  width: 90%;
  height: 55px;
  border-radius: 25px;
  padding: 0% 0%;
  display: flex;
  align-items: right;
  justify-content: center;
  z-index: 3;
  border: 2px solid #6C584C;
}

/* left-hand title -- NOT currently used, decided i didn't want a title
.navbar title {
  float: left;
  display: block;
  color: #6C584C;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: calc(15px + 2vmin);
  font-weight: bold;
  height: 65px;
  font-family: 'Helvetica', 'sans-serif';
}
*/

/* Links inside the navbar */
.navbar a {
  color: #6C584C;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: transparent;
  color: #54443a;
  transform: translateY(-1px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
